@font-face {
  font-family: "vazir";
  src: url(../font/Vazir.woff) format("woff"),
    url(../font/Vazir-Thin.woff2) format("woff2"),
    url(../font/Vazir-Medium.eot) format("eot"),
    url(../font/Vazir-Thin.eot) format("eot");
}

@font-face {
  font-family: "Yekan.woff";
  src: url(../font/biyekan/Yekan.ttf) format(ttf);
}

/*  <==============he-dr==============>  */

.nav-group {
  list-style-type: none;
}

.nav-group a {
  font-family: "Far_Ferdowsi";
  color: rgb(10, 10, 10) !important;
}

.nav-group a:hover {
  background-color: rgb(138, 194, 211);
}

.nav-serch {
  width: 30rem;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 L 0,75 C 46.34077636551014,65.95980762624528 92.68155273102028,56.91961525249056 174,70 C 255.31844726897972,83.08038474750944 371.614565441429,118.28134661628306 440,156 C 508.385434558571,193.71865338371694 528.8601855032637,233.95499828237723 596,262 C 663.1398144967363,290.04500171762277 776.944692545517,305.8986602542082 860,326 C 943.055307454483,346.1013397457918 995.3610443146686,370.4503607007901 1049,384 C 1102.6389556853314,397.5496392992099 1157.611130195809,400.2998969426314 1223,422 C 1288.388869804191,443.7001030573686 1364.1944349020955,484.3500515286843 1440,525 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,75 C 67.03469598076262,66.06561319134318 134.06939196152524,57.131226382686364 209,68 C 283.93060803847476,78.86877361731364 366.7571281346617,109.54070766059775 432,143 C 497.2428718653383,176.45929233940225 544.9020954998282,212.70594297492272 611,229 C 677.0979045001718,245.29405702507728 761.6344898660255,241.63552043971146 831,266 C 900.3655101339745,290.36447956028854 954.5599450360701,342.75197526623157 1024,371 C 1093.44005496393,399.24802473376843 1178.1257299896943,403.3565784953624 1250,425 C 1321.8742700103057,446.6434215046376 1380.9371350051529,485.82171075231884 1440,525 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,75 C 57.88663689453796,89.68842322226038 115.77327378907592,104.37684644452078 198,111 C 280.2267262109241,117.62315355547922 386.79354173823424,116.18103744417726 446,125 C 505.20645826176576,133.81896255582274 517.052559257987,152.8990037787702 583,195 C 648.947440742013,237.1009962212298 768.9962212298177,302.22294744074196 846,326 C 923.0037787701823,349.77705255925804 956.9625558227415,332.20920645826175 1015,356 C 1073.0374441772585,379.79079354173825 1155.1535554792165,444.9402267262109 1230,480 C 1304.8464445207835,515.0597732737891 1372.4232222603919,520.0298866368946 1440,525 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,75 C 50.307110958433526,53.930264513912746 100.61422191686705,32.86052902782549 177,49 C 253.38577808313295,65.13947097217451 355.85022329096535,118.48814840261079 423,155 C 490.14977670903465,191.5118515973892 521.9848849192717,211.18687736173138 595,223 C 668.0151150807283,234.81312263826862 782.2102370319477,238.7643421504638 855,271 C 927.7897629680523,303.2356578495362 959.1741669529372,363.7557540364136 1019,394 C 1078.8258330470628,424.2442459635864 1167.0930951563037,424.21264170388184 1242,441 C 1316.9069048436963,457.78735829611816 1378.4534524218482,491.39367914805905 1440,525 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,75 C 46.34077636551014,65.95980762624528 92.68155273102028,56.91961525249056 174,70 C 255.31844726897972,83.08038474750944 371.614565441429,118.28134661628306 440,156 C 508.385434558571,193.71865338371694 528.8601855032637,233.95499828237723 596,262 C 663.1398144967363,290.04500171762277 776.944692545517,305.8986602542082 860,326 C 943.055307454483,346.1013397457918 995.3610443146686,370.4503607007901 1049,384 C 1102.6389556853314,397.5496392992099 1157.611130195809,400.2998969426314 1223,422 C 1288.388869804191,443.7001030573686 1364.1944349020955,484.3500515286843 1440,525 L 1440,400 L 0,400 Z"
    );
  }
}
.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 L 0,175 C 74.47543799381657,166.40638955685333 148.95087598763314,157.81277911370665 207,177 C 265.04912401236686,196.18722088629335 306.67193404328407,243.1552731020268 374,265 C 441.32806595671593,286.8447268979732 534.3613878392305,283.5661284781862 604,305 C 673.6386121607695,326.4338715218138 719.8825145997939,372.5802129852284 785,409 C 850.1174854002061,445.4197870147716 934.1085537615938,472.1130195809 1018,484 C 1101.8914462384062,495.8869804191 1185.6832703538303,492.9677086911714 1256,514 C 1326.3167296461697,535.0322913088286 1383.1583648230849,580.0161456544142 1440,625 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,175 C 60.69529371350052,152.25661284781862 121.39058742700104,129.51322569563723 195,148 C 268.60941257299896,166.48677430436277 355.13294400549637,226.20371006526972 427,264 C 498.86705599450363,301.7962899347303 556.0776365510134,317.671934043284 622,337 C 687.9223634489866,356.328065956716 762.5565097904501,379.10855376159395 825,410 C 887.4434902095499,440.89144623840605 937.6963242871866,479.8938509103401 1008,507 C 1078.3036757128134,534.1061490896599 1168.6581930608038,549.3160425970457 1244,567 C 1319.3418069391962,584.6839574029543 1379.6709034695982,604.8419787014772 1440,625 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,175 C 89.95396770869118,155.6822397801443 179.90793541738236,136.36447956028857 236,144 C 292.09206458261764,151.63552043971143 314.3222260391618,186.22432153899 384,230 C 453.6777739608382,273.77567846101 570.8031604259705,326.7382342837513 640,349 C 709.1968395740295,371.2617657162487 730.4651322569564,362.8227413260048 784,381 C 837.5348677430436,399.1772586739952 923.336310546204,443.9708004122295 1012,469 C 1100.663689453796,494.0291995877705 1192.1896255582276,499.2940570250772 1264,522 C 1335.8103744417724,544.7059429749228 1387.905187220886,584.8529714874614 1440,625 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,175 C 65.3438680865682,155.1841291652353 130.6877361731364,135.3682583304706 197,149 C 263.3122638268636,162.6317416695294 330.5929233940227,209.71109584335284 398,238 C 465.4070766059773,266.28890415664716 532.9405702507729,275.7873582961182 602,300 C 671.0594297492271,324.2126417038818 741.6447956028856,363.1394709721745 814,389 C 886.3552043971144,414.8605290278255 960.4802473376847,427.65475781518376 1040,451 C 1119.5197526623153,474.34524218481624 1204.4342150463756,508.2414977670903 1272,539 C 1339.5657849536244,569.7585022329097 1389.7828924768123,597.3792511164548 1440,625 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,175 C 74.47543799381657,166.40638955685333 148.95087598763314,157.81277911370665 207,177 C 265.04912401236686,196.18722088629335 306.67193404328407,243.1552731020268 374,265 C 441.32806595671593,286.8447268979732 534.3613878392305,283.5661284781862 604,305 C 673.6386121607695,326.4338715218138 719.8825145997939,372.5802129852284 785,409 C 850.1174854002061,445.4197870147716 934.1085537615938,472.1130195809 1018,484 C 1101.8914462384062,495.8869804191 1185.6832703538303,492.9677086911714 1256,514 C 1326.3167296461697,535.0322913088286 1383.1583648230849,580.0161456544142 1440,625 L 1440,400 L 0,400 Z"
    );
  }
}
.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,400 L 0,275 C 61.89900377877018,267.98248024733766 123.79800755754036,260.9649604946754 202,274 C 280.20199244245964,287.0350395053246 374.70697354860874,320.12263826863614 446,357 C 517.2930264513913,393.87736173136386 565.3740982480249,434.54448643077984 621,457 C 676.6259017519751,479.45551356922016 739.7966334592921,483.6994160082446 815,498 C 890.2033665407079,512.3005839917554 977.4393679148059,536.6578495362419 1052,567 C 1126.5606320851941,597.3421504637581 1188.445894881484,633.669185846788 1251,661 C 1313.554105118516,688.330814153212 1376.777052559258,706.665407076606 1440,725 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,275 C 91.2655444864308,257.780487804878 182.5310889728616,240.5609756097561 241,249 C 299.4689110271384,257.4390243902439 325.1411885949845,291.5365853658537 375,319 C 424.8588114050155,346.4634146341463 498.90415664720035,367.2926829268292 583,394 C 667.0958433527996,420.7073170731708 761.2421848162144,453.29268292682934 829,495 C 896.7578151837856,536.7073170731707 938.1271040879424,587.5365853658537 1004,611 C 1069.8728959120576,634.4634146341463 1160.2493988320166,630.560975609756 1237,645 C 1313.7506011679834,659.439024390244 1376.8753005839917,692.219512195122 1440,725 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,275 C 85.1439367914806,245.53108897286157 170.2878735829612,216.06217794572314 241,237 C 311.7121264170388,257.93782205427686 367.99244245963587,329.2823771899691 424,363 C 480.00755754036413,396.7176228100309 535.7423565784953,392.80831329440053 612,402 C 688.2576434215047,411.19168670559947 785.0381312263829,433.48436963242875 848,473 C 910.9618687736171,512.5156303675712 940.1051185159736,569.2542081758846 999,603 C 1057.8948814840264,636.7457918241154 1146.541394709722,647.498797664033 1225,664 C 1303.458605290278,680.501202335967 1371.729302645139,702.7506011679835 1440,725 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,275 C 64.35451734799037,260.8941944349021 128.70903469598073,246.78838886980418 198,255 C 267.29096530401927,263.2116111301958 341.51837856406735,293.74063895568537 407,337 C 472.48162143593265,380.25936104431463 529.2174510477498,436.2490553074545 600,455 C 670.7825489522502,473.7509446925455 755.611817244933,455.2631398144967 820,469 C 884.388182755067,482.7368601855033 928.3352799725183,528.6983854345586 1005,572 C 1081.6647200274817,615.3016145654414 1191.0470628649946,655.943318447269 1269,681 C 1346.9529371350054,706.056681552731 1393.4764685675027,715.5283407763654 1440,725 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,275 C 61.89900377877018,267.98248024733766 123.79800755754036,260.9649604946754 202,274 C 280.20199244245964,287.0350395053246 374.70697354860874,320.12263826863614 446,357 C 517.2930264513913,393.87736173136386 565.3740982480249,434.54448643077984 621,457 C 676.6259017519751,479.45551356922016 739.7966334592921,483.6994160082446 815,498 C 890.2033665407079,512.3005839917554 977.4393679148059,536.6578495362419 1052,567 C 1126.5606320851941,597.3421504637581 1188.445894881484,633.669185846788 1251,661 C 1313.554105118516,688.330814153212 1376.777052559258,706.665407076606 1440,725 L 1440,400 L 0,400 Z"
    );
  }
}

.form-control {
  background-color: rgb(241, 218, 222);
}

.offcanvas {
  background-image: url(../image/background/white2.jpg);
  width: 15rem !important;
}
.offcanvas-item {
  width: 100px;
  height: 100%;
}

/*  <==============//he-dr==============> */

/* <==============content==============> */
.carousel {
  margin-top: 10px;
}

/* .box-wrapper {
  display: flex;
  justify-content: center;
} */
.box-wrapper{
  padding: 50px;
	display: flex;
	flex-flow: wrap;
	font-family: "Ubuntu", sans-serif;
	* {
		box-sizing: border-box;
	}
}

.card-container {
	flex: 300px;
	margin: 30px;
}

.card {
  font-weight: bold;
  position: relative;
  width: 100%;
  
  a {
    padding: 30px;
    width: 100%;
    height: 400px;
    border: 2px solid black;
    background: white;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.25s ease;
    
    &:hover {
      transform: translate(-30px, -30px);
      border-color: lightgray;
      
      .card--display {
        display: none;
      }
      
      .card--hover {
        display: block;
        
      }
    }
    
    .card--display {
      i {
        font-size: 60px;
        margin-top: 200px;
      }
      .card--display img:hover{
        filter: blur(25px);
      }
      h2 {
        margin: 20px 0 0;
      }
    }
    .card--hover {
      display: none;
      
      h2 {
        margin: 20px 0;
      }     
    }
  }
}


.routin {
  height: 600px;
  margin-top: 40px;
  background-image: url(../image/background/jaidad.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rutin-caption p {
  font-size: 2rem;
  padding: 20px;
}
.routin-Daily {
  padding: 20px;
}
.routin-Daily p {
  margin: 20px;
}
.butt {
  justify-content: center;
}

.ruot-pm {
  /* padding: 20px; */
}
/* .marquee{
  border: 2px solid red;
} */

@media (max-width: 768px) and (min-width: 375px) {
  .routin {
    max-height: 650px;
  }

  .rutin-caption p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .butt {
    margin: 0;
  }
}

.part-shop {
  width: 100%;
  height: 900px;
  justify-content: center;
  padding: 30px;
  margin: 20px;
}
.shop-caption {
  font-size: 2rem;
  font-weight: bold;
}
.shop {
  margin: 20px;
}

/* @media (max-width: 768px) and (min-width: 375px) {
  .routin {
    max-height: 650px;
  }

  .rutin-caption p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .butt {
    margin: 0;
  }
} */
